.header {
    background-color: black;
    color: white;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {

    display: flex;


    color: white;

}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    padding-right: 30px;

}

a:hover {
    background-color: green;
    list-style: none;

}

i {
    /*color: green;*/
    gap: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.child {
    height: 350px;
    width: 300px;
    border: 3px solid white;
    background-color: white;
    margin: 10px;
    padding-top: 30px;



}

h3 {
    padding-left: 20px;
}

p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: green;
    color: white;
}

.reviews {
    background-color: silver;
    height: 200px;
}

.i {
    display: flex;
    font-style: italic;
    background-color: white;
    height: 100px;
    width: 300px;
    border: 3px solid white;
    margin: 10px;
    padding: 1px;
    text-align: center;
    padding: 1px;
}

.irfan {
    display: flex;
    justify-content: center;
    padding: 1px;
}

.footer {
    background-color: black;
    color: white;
    padding: 1px;
    text-align: left;
    text-indent: 50px;
    display: flex;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.footer1 {
    display: flex;
    position: relative;
    left: 1000px;
    gap: 20px;
    padding-top: 25px;
}
/*img{
    border-radius: 500px;
    width: 50px;
    height: 50px;
}
#x{
    border-radius: 500px;
    width: 50px;
    height: 50px;
}*/

